# .NET
bin/
obj/
publish/
*.user
*.userosscache
*.sln.docstates

# IDEs
.idea/
.vscode/
*.swp
*.bak
.DS_Store

# ReSharper / Rider
_ReSharper.*/
*.DotSettings.user

# User specific data
*.m3u
*.m3u8
*.xml